


.add-fab {
  --background: var(--ion-color-secondary);
  --color:white;
  margin-top:76%;
  stroke:white!important;


}



@media screen and (max-width:768px) {
  .preferred-location-banner {
    margin-top:60px!important;
  }

  .add-fab {
    margin-top:100%!important;
  }
  
}